html {
  box-sizing: border-box;
}

/*
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

header {
  display: grid;
  padding: 16px;
  grid-template-columns: auto 1fr;
  grid-gap: 8px;
  grid-auto-flow: column;
  align-items: center;
}

main#transcript {
  margin: 20px;
  display: grid;
  grid-template-columns: minmax(auto, 600px);
  justify-content: center;
  align-content: start;
}

/* Navigation */

header div.user a {
  color: white;
  text-decoration: none;
}

/* Transcripts */

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

main#transcripts {
  margin: 40px;
  display: grid;
  grid-template-columns: minmax(auto, 700px) 300px;
  justify-content: center;
  grid-gap: 40px;
}

/* Progress */

.progress {
  padding: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 20px;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: black;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 black;
  }
}

.loading:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

/* Loading */

main#loading {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

/* Transcript */

.results .meta {
  grid-column-start: 2;
}

.active {
  background: #ffc600;
}

.results {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  padding: 16px;
  padding-bottom: 100px;
}

.results .startTime {
  color: grey;
}

.results p {
  font-size: 24px;
  margin-top: 0.5rem;
  border-radius: 4px;
  background: white;
  line-height: 1.8;
}

/* Player */

#player {
  width: 100%;
  height: 64px;
  background: black;
  display: flex;
  color: white;
  padding: 0 8px;
  bottom: 0;
  left: 0;
  position: fixed;
}

#player button {
  background: transparent;
  font-size: 2rem;
  border: none;
  width: 64px;
  color: white;
}

#player .timer-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}

#player .timer-background {
  width: 100%;
  height: 9px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.12);
  overflow: hidden;
}

#player .timer-current {
  background: #4e54c8; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  transition: 1s ease;
}

.currentTime,
.duration {
  padding: 0 4px;
  display: grid;
  align-content: center;
}

#player .volume {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #4e54c8;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #4e54c8;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #4e54c8;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #4e54c8;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: #4e54c8;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #4e54c8;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #4e54c8;
}
