html {
  box-sizing: border-box;
}

/*
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

header {
  display: grid;
  padding: 1em;
  grid-template-columns: auto 1fr;
  grid-gap: 8px;
  grid-auto-flow: column;
  align-items: center;
}

main#transcript {
  margin: 20px;
  display: grid;
  grid-template-columns: minmax(auto, 650px);
  justify-content: center;
  align-content: start;
}

main#create {
  margin: 20px;
  display: grid;
  grid-template-columns: minmax(auto, 600px);
  justify-content: center;
  align-content: start;
}

fieldset {
  border: none;
}

/* Navigation */

.logo a:visited,
.logo a:active,
.logo a:link,
.logo a:hover {
  color: white;
  text-decoration: none;
}

header div.user a {
  color: white;
  text-decoration: none;
}

.login a {
  color: white;
  text-decoration: none;
}

/* Speakers */

.speaker {
  border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
  width: 1.6em;
  cursor: pointer;
}

.speaker-1 {
  background-color: rgb(29, 158, 218);
}
.speaker-2 {
  background-color: rgb(230, 92, 33);
}
.speaker-3 {
  background-color: rgb(165, 102, 163);
}
.speaker-4 {
  background-color: rgb(4, 76, 151);
}
.speaker-5 {
  background-color: rgb(70, 168, 61);
}

/* Heat map */

.confidence-0 {
  border-bottom: 2px solid #000000;
}
.confidence-1 {
  border-bottom: 2px solid #080000;
}
.confidence-2 {
  border-bottom: 2px solid #0f0000;
}
.confidence-3 {
  border-bottom: 2px solid #170000;
}
.confidence-4 {
  border-bottom: 2px solid #1f0000;
}
.confidence-5 {
  border-bottom: 2px solid #260000;
}
.confidence-6 {
  border-bottom: 2px solid #2e0000;
}
.confidence-7 {
  border-bottom: 2px solid #360000;
}
.confidence-8 {
  border-bottom: 2px solid #3d0000;
}
.confidence-9 {
  border-bottom: 2px solid #450000;
}
.confidence-10 {
  border-bottom: 2px solid #4d0000;
}
.confidence-11 {
  border-bottom: 2px solid #540000;
}
.confidence-12 {
  border-bottom: 2px solid #5c0000;
}
.confidence-13 {
  border-bottom: 2px solid #640000;
}
.confidence-14 {
  border-bottom: 2px solid #6b0000;
}
.confidence-15 {
  border-bottom: 2px solid #730000;
}
.confidence-16 {
  border-bottom: 2px solid #7b0000;
}
.confidence-17 {
  border-bottom: 2px solid #820000;
}
.confidence-18 {
  border-bottom: 2px solid #8a0000;
}
.confidence-19 {
  border-bottom: 2px solid #920000;
}
.confidence-20 {
  border-bottom: 2px solid #990000;
}
.confidence-21 {
  border-bottom: 2px solid #a10000;
}
.confidence-22 {
  border-bottom: 2px solid #a90000;
}
.confidence-23 {
  border-bottom: 2px solid #b00000;
}
.confidence-24 {
  border-bottom: 2px solid #b80000;
}
.confidence-25 {
  border-bottom: 2px solid #c00000;
}
.confidence-26 {
  border-bottom: 2px solid #c70000;
}
.confidence-27 {
  border-bottom: 2px solid #cf0000;
}
.confidence-28 {
  border-bottom: 2px solid #d70000;
}
.confidence-29 {
  border-bottom: 2px solid #de0000;
}
.confidence-30 {
  border-bottom: 2px solid #e60000;
}
.confidence-31 {
  border-bottom: 2px solid #e70700;
}
.confidence-32 {
  border-bottom: 2px solid #e80e00;
}
.confidence-33 {
  border-bottom: 2px solid #e91500;
}
.confidence-34 {
  border-bottom: 2px solid #e91c00;
}
.confidence-35 {
  border-bottom: 2px solid #ea2300;
}
.confidence-36 {
  border-bottom: 2px solid #eb2a00;
}
.confidence-37 {
  border-bottom: 2px solid #ec3100;
}
.confidence-38 {
  border-bottom: 2px solid #ed3800;
}
.confidence-39 {
  border-bottom: 2px solid #ee3f00;
}
.confidence-40 {
  border-bottom: 2px solid #ee4600;
}
.confidence-41 {
  border-bottom: 2px solid #ef4d00;
}
.confidence-42 {
  border-bottom: 2px solid #f05400;
}
.confidence-43 {
  border-bottom: 2px solid #f15b00;
}
.confidence-44 {
  border-bottom: 2px solid #f26200;
}
.confidence-45 {
  border-bottom: 2px solid #f36900;
}
.confidence-46 {
  border-bottom: 2px solid #f37000;
}
.confidence-47 {
  border-bottom: 2px solid #f47700;
}
.confidence-48 {
  border-bottom: 2px solid #f57e00;
}
.confidence-49 {
  border-bottom: 2px solid #f68500;
}
.confidence-50 {
  border-bottom: 2px solid #f78c00;
}
.confidence-51 {
  border-bottom: 2px solid #f89300;
}
.confidence-52 {
  border-bottom: 2px solid #f89a00;
}
.confidence-53 {
  border-bottom: 2px solid #f9a100;
}
.confidence-54 {
  border-bottom: 2px solid #faa800;
}
.confidence-55 {
  border-bottom: 2px solid #fbaf00;
}
.confidence-56 {
  border-bottom: 2px solid #fcb600;
}
.confidence-57 {
  border-bottom: 2px solid #fdbd00;
}
.confidence-58 {
  border-bottom: 2px solid #fdc400;
}
.confidence-59 {
  border-bottom: 2px solid #fecb00;
}
.confidence-60 {
  border-bottom: 2px solid #ffd200;
}
.confidence-61 {
  border-bottom: 2px solid #ffd306;
}
.confidence-62 {
  border-bottom: 2px solid #ffd40d;
}
.confidence-63 {
  border-bottom: 2px solid #ffd513;
}
.confidence-64 {
  border-bottom: 2px solid #ffd71a;
}
.confidence-65 {
  border-bottom: 2px solid #ffd820;
}
.confidence-66 {
  border-bottom: 2px solid #ffd926;
}
.confidence-67 {
  border-bottom: 2px solid #ffda2d;
}
.confidence-68 {
  border-bottom: 2px solid #ffdb33;
}
.confidence-69 {
  border-bottom: 2px solid #ffdc39;
}
.confidence-70 {
  border-bottom: 2px solid #ffdd40;
}
.confidence-71 {
  border-bottom: 2px solid #ffde46;
}
.confidence-72 {
  border-bottom: 2px solid #ffe04d;
}
.confidence-73 {
  border-bottom: 2px solid #ffe153;
}
.confidence-74 {
  border-bottom: 2px solid #ffe259;
}
.confidence-75 {
  border-bottom: 2px solid #ffe360;
}
.confidence-76 {
  border-bottom: 2px solid #ffe466;
}
.confidence-77 {
  border-bottom: 2px solid #ffe56c;
}
.confidence-78 {
  border-bottom: 2px solid #ffe673;
}
.confidence-79 {
  border-bottom: 2px solid #ffe779;
}
.confidence-80 {
  border-bottom: 2px solid #ffe980;
}
.confidence-81 {
  border-bottom: 2px solid #ffea86;
}
.confidence-82 {
  border-bottom: 2px solid #ffeb8c;
}
.confidence-83 {
  border-bottom: 2px solid #ffec93;
}
.confidence-84 {
  border-bottom: 2px solid #ffed99;
}
.confidence-85 {
  border-bottom: 2px solid #ffee9f;
}
.confidence-86 {
  border-bottom: 2px solid #ffefa6;
}
.confidence-87 {
  border-bottom: 2px solid #fff0ac;
}
.confidence-88 {
  border-bottom: 2px solid #fff2b3;
}
.confidence-89 {
  border-bottom: 2px solid #fff3b9;
}
.confidence-90 {
  border-bottom: 2px solid #fff4bf;
}
.confidence-91 {
  border-bottom: 2px solid #fff5c6;
}
.confidence-92 {
  border-bottom: 2px solid #fff6cc;
}
.confidence-93 {
  border-bottom: 2px solid #fff7d2;
}

/* Transcripts */

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

main#transcripts {
  display: grid;
  grid-template-columns: 460px 1fr;
}

/* Progress */

.progress {
  padding: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 20px;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: black;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 black;
  }
}

.loading:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

/* Transcript */

.marker {
  background: #0bb5ff;
}

.results {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  padding: 16px;
  padding-bottom: 100px;
  font-family: "Roboto Mono", monospace;
}

.startTime:first-of-type {
  text-decoration: underline;
  cursor: pointer;
}

.results .startTime {
  color: grey;
}

.results p {
  font-size: 24px;
  margin-top: 0.5rem;
  border-radius: 4px;
  background: white;
  line-height: 1.8;
}

.result {
  cursor: pointer;
}

.result .word:hover {
  color: var(--org-color-primary);
}

/* Player */

#player {
  width: calc(100% - 460px);
  height: 64px;
  background: black;
  display: flex;
  color: white;
  padding: 0 8px;
  bottom: 0;
  left: 460px;
  position: fixed;
}

#player button {
  background: transparent;
  font-size: 2rem;
  border: none;
  width: 64px;
  color: white;
}

#player .timer-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}

#player .timer-background {
  width: 100%;
  height: 9px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.12);
  overflow: hidden;
}

#player .timer-current {
  background: #4e54c8; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  transition: 1s ease;
}

.currentTime,
.duration {
  padding: 0 4px;
  display: grid;
  align-content: center;
}

#player .volume {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #4e54c8;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #4e54c8;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #4e54c8;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #4e54c8;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: #4e54c8;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #4e54c8;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #4e54c8;
}

/* Editor */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
