{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "6.14.0"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": ["@babel/proposal-class-properties", "@babel/proposal-object-rest-spread", "transform-es2017-object-entries"]
}
